html, body {
  height: 100%;
  overflow: auto;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 12px;
  box-sizing: border-box;
  justify-content:
}

.top-wrapper {

}
.top-wrapper label {
  font-size: 26px;
  line-height: 0.8;
}
.middle-wrapper {
  position: relative;
  flex: 0 3 15em;
}
.middle-wrapper .progress-bar{
  text-align: center;
  position:relative;
  top:60px;
}

.bottom-wrapper {
  text-align: center;
  flex: 0 3 15em;
  position:relative;
  top:50px;
}
.bottom-wrapper table {

  margin:0 auto;
  border-spacing: 6px 6px;
}



@media (min-width: 568px) {
  .middle-wrapper, .bottom-wrapper {
    display:flex;
    align-items: center;
    top:0;
  }
  .middle-wrapper .progress-bar {
    top:0;
    left:15px;
  }
  .bottom-wrapper {
    right:35px;
  }
  .container {
    flex-direction: row;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 39px;
  height: 24px;
}

.text-helper {
  font-size:18px;

}
.switch input[type=checkbox] {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #555;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 30%;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 1px;
  bottom: 1px;
  background-color: white;

}

input[type=text] {
  width:27px;
  border-radius: 34px;
  border:1px solid black;
  padding-left:5px;
  padding-right: 5px;
  height: 20px;
  text-align: center;
  font-size:16px;
}

tr td:nth-last-child(1) {
  vertical-align: middle;
  text-align: left;
}
tr {
  vertical-align: top;
  height:30px;
}

input[type=checkbox]:checked + .slider {
  background-color: #00e500;
}

input[type=checkbox]:checked + .slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
