html, body {
  height: 100%;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

* {
  touch-action: manipulation;
}

.b-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: column;
}

#sosiska.active {
  scale: 0.8;
}

.text {
  font-size: 14px;
  font-weight: bold;
}

#count {
  min-width: 50px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
}

#wow {
  padding-top: 1rem;
  font-size: 40px;
  font-weight: bold;
}

#ads {
  padding-bottom: 5rem;
  font-style: italic;
}

.corner {
  padding: 1rem;
}
